<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userIO" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.view.UserIOConsoleImpl" />

    <bean id="mainView" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.view.MainView">
        <constructor-arg ref="userIO" />
    </bean>

    <bean id="taxDao" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.dao.TaxDaoFileImpl">
        <constructor-arg value="Data/Taxes.txt" />
    </bean>

    <bean id="productDao" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.dao.ProductDaoFileImpl">
        <constructor-arg value="Data/Products.txt" />
    </bean>

    <bean id="orderDao" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.dao.OrderDaoFileImpl">
        <constructor-arg value="Orders" />
        <constructor-arg value="Orders_" />
        <constructor-arg value=".txt" />
    </bean>

    <bean id="exportDao" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.dao.ExportDaoFileImpl">
        <constructor-arg value="Backup/DataExport.txt" />
    </bean>

    <bean id="mainService" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.service.MainServiceImpl">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="taxDao" />
        <constructor-arg ref="exportDao" />
    </bean>

    <bean id="mainController" class="com.mthree.academy.co458.vrishti_va.flooring_mastery.controller.MainController">
        <constructor-arg ref="mainView" />
        <constructor-arg ref="mainService" />
    </bean>

</beans>